.container {
  display: flex;
  height: 100vh;
}
.formContainer {
  min-width: 60%;
  padding: 30px 10px;
  background-color: var(--auth-bg);
  text-align: center;
  color: var(--text-color);

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    input {
      display: block;
      padding: 20px 30px;
      margin: 5px 0;
      width: 50%;
      border: none;
      font-size: 1rem;
    }
  }
  p > a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
  }
  @media screen and (max-width: 900px) {
    width: 100%;
    form {
      input {
        width: 100%;
        margin: 5px;
      }
      button {
        width: 100%;
      }
    }
  }
}
.imageBackground {
  width: 40%;
  background: url(../record-wallpaper.jpeg) no-repeat center;
  background-size: cover;
  @media screen and (max-width: 900px) {
    display: none;
  }
}

.error {
  color: var(--pink);
}
