.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 25px;
  margin-left: 0;
  width: 20%;
  min-width: 234px;
  a {
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--text-color);
    &:hover {
      text-decoration: underline;
    }
  }
  img {
    height: 234px;
    width: 100%;

    &:hover {
      filter: brightness(0.8);
    }
  }
  .play {
    position: absolute;
    width: 35px;
    min-width: 35px;
    height: 35px;
    top: 73%;
    left: 5%;
    transition: all 0.2s ease;
    pointer-events: all;
    //customize colors
    path {
      fill: white;
      stroke: white;
      stroke-width: 15px;
      &:last-child {
        fill: black;
      }
    }
    &:hover {
      transform: scale(1.2);
    }
    &.spin {
      filter: drop-shadow(rgba(0, 0, 0, 0.35) 0px 5px 15px);
      animation: spin 1s infinite linear;
    }
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
  .details {
    font-size: 12px;
    align-self: flex-start;
    padding: 10px 0;
    .cardTitle {
      font-size: 14px;
    }
    .cardSubtitle {
      font-size: 12px;
      color: #52525d;
    }
    .explicit {
      color: var(--text-color);
      border: 1px solid #c2c2ca;
      padding: 5px;
      margin-top: 5px;
      max-width: fit-content;
      &.hidden {
        visibility: hidden;
      }
    }
    @media screen and (max-width: 650px) {
      align-self: center;
      text-align: center;
      .explicit {
        margin: 5px auto;
      }
    }
  }
  &.minimal {
    img {
      height: 210px;
    }
    .details {
      display: none;
    }
    a {
      cursor: default;
      pointer-events: none;
    }
  }
  @media screen and (max-width: 500px) {
    margin: 0;
  }
}
